<h1 class="page-header">
	Eventos
	<span class="pull-right"><a href="#admin/events/add" class="btn btn-primary">Agregar</a></span>
</h1>
<div class="table-responsive">
  	<table class="table table-striped">

		<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Autor</th>
				<th>Descripcion</th>
				<th>Imagen</th>
				<th>Creado</th>
				<th>Modificado</th>
				<th>Comienza</th>
				<th>Termina</th>
			</tr>
		</thead>
		<tbody>
			{{#each events}}
				<tr class="register">
					<td><a href="#admin/{{ namespace }}/{{ id }}/edit">{{ id }}</a></td>
					<td>{{ name }}</td>
					<td>{{ owner }}</td>
					<td>{{ description }}</td>
					<td><img height="50%" src="{{ urlImage }}"></td>
					<td>{{ created_at }}</td>
					<td>{{ updated_at }}</td>
					<td>{{ start_at }}</td>
					<td>{{ end_at }}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>